html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 !{subject}
      p
        | Hi !{otherProperty.first_name} !{otherProperty.last_name}
      p
        | Your account password of !{otherProperty.site_url}  successfully updated!
      p
        | Username : !{otherProperty.username}
      p
        | Password : !{otherProperty.password}
      p
       a(href=""+otherProperty.site_url) Try to login!